:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body{
  margin: 0;
  padding: 0;
}

/* Navbar section */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: grey;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.poke-icon {
  filter: invert(100%);
  width: 2.5rem;
  padding: 0.8rem;
}
nav {
  display: flex;
  align-items: center;
  font-size: large;
}
a {
  margin: 0 1rem;
  text-decoration: none;
}
.active {
  color: red;
}
.not-active {
  color: whitesmoke;
}

/*Home section*/